# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

AZURE_WEBHOOK=Your.Azure.webhook

MONGO_CONNECTION_STRING=Your.mongo.connection.string
MONGO_DATABASE_NAME=your.database.name
MONGO_COLLECTION_NAME=your.collection.name

GITHUB_OAUTH_CLIENT_ID=ID HERE
GITHUB_OAUTH_SECRET=SECRET HERE

ADMIN_ID=xxxxxxxx