{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
    <p>
      <form action="/new" method="post">
        <div>
          <label for="title">Enter a new task: </label>
          <input type="text" name="title" id="title" required>
          <input type="submit" value="Add">
        </div>
      </form>  
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">      
      <h4>Tasks to do</h4>
      <ul class="list-group mb-3">
        <!-- List the todo items here -->
        {% for value in view_model.to_do_items %}
            <form>
              <input type="submit" value=&#10004 formaction="/complete/{{value.id}}" method="get" title="Complete item">
              <input type="submit" value=&#8595 formaction="/doing/{{value.id}}" method="get" title="Move to doing">
              {{value.task}} 
          </form> 
        {% endfor %}        
      </ul>      
      <h4>Currently doing</h4>
      <ul class="list-group mb-3">
        {% for value in view_model.doing_items %}          
           <form action="/complete/{{value.id}}" method="get" title="Complete item">
           <input type="submit" value=&#10004>
           {{value.task}} 
           </form>         
        {% endfor %} 
      </ul>  
      <h4>Completed tasks</h4>
      <ul class="list-group mb-4">
        {% for value in view_model.done_items %}          
              <li>{{value.task}} </li>          
        {% endfor %}        
      </ul>
    </div>
  </div>
{% endblock %}