{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items to do</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for value in view_model.tasks %}
          {% if value.status == "To Do" %}
            <form action="/complete/{{value.id}}" method="get">
            <input type="submit" value=&#10004>
            {{value.task}} 
            </form>  
          {% endif %}              
        {% endfor %}        
      </ul>
      <p>
        <form action="/new" method="post">
          <div>
            <label for="title">Enter a new item to-do: </label>
            <input type="text" name="title" id="title" required>
            <input type="submit" value="Add">
          </div>
        </form>  
      </p>
      <h2>Completed Items</h2>
      <ul class="list-group mb-4">
        {% for value in view_model.tasks %}
          {% if value.status == "complete" %}
              <li>{{value.task}} </li>             
          {% endif %}              
        {% endfor %}        
      </ul>
    </div>
  </div>
{% endblock %}